<header class="main-nav">
  <div class="navbar-content">
    <div class="logo">
      <span class="logo-text">Neon <span class="accent">Kinetic</span></span>
    </div>
    <nav>
      <a routerLink="/homepage" routerLinkActive="active" class="nav-link">Home</a>
      <a routerLink="/how-to-play" routerLinkActive="active" class="nav-link">How to Play</a>
    </nav>
    <div class="nav-actions">
      <button class="play-now-btn" (click)="playNow()">Play Now</button>
    </div>
  </div>
</header>
